"*":
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "rubocop-auto-correct"
      "linter-rubocop"
      "sublime-panes"
    ]
    themes: [
      "atom-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontSize: 17
    invisibles: {}
  "exception-reporting":
    userId: "2687aeeb-7593-e749-77b6-73d52475c824"
  "project-manager":
    sortBy: "title"
  "ruby-test": {}
  tabs:
    addNewTabsAtEnd: true
    enableVcsColoring: true
  "tree-view": {}
  welcome:
    showOnStartup: false
"linter-rubocop":
  executablePath: "/usr/bin/rubocop"
